/.editor_settings
/.internal
/build
node_modules/
**/node_modules/
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
imgui.ini


/bob/build/*
#save keystore in git.
#/bob/keystore/release.jks
#/bob/keystore/release_password.txt
/bob/bob.jar
/bob/bob_beta.jar
/bob/liveupdate/content/*
/storage.json
*.blend
*.blend1
/features/core/localization/load_localization/node_modules
/features/core/localization/load_localization/package-lock.json
/features/core/localization/load_localization/token.json
/features/core/localization/load_localization/credentials.json
/features/core/localization/load_localization/localization/**
mem.json
lprof_stat.csv
/.editor_settings
